@charset 'utf-8';
@import '../materialize-src/sass/materialize.scss';

/* Variables */
$bgc-cabecera: $primary-color;
$clr-cabecera: color("shades", "white");
$height-cabecera: 60px;
$height-footer: 40px;
$radio: 15px;

@font-face {
    font-family: 'Monaco';
    src: url("../fonts/Monaco-Powerline.woff") format('woff');
}

body,
h2,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Monaco', 'Roboto', Arial, sans-serif;
    width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.sombra{
    box-shadow: 5px 5px 5px 1px #555;
}

.fondo{
    z-index: -1;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    min-height:100vh;
}
.cabecera {
    @extend .z-depth-3;
    width: 100vw;
    height: $height-cabecera;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bgc-cabecera;
    color: $clr-cabecera;
}

.cabecera__fecha{
    flex: 0 0 20%;
}

.cabecera__titulo {
    flex: 0 0 40%;
    margin-top: calc(#{$height-cabecera} - (#{$height-cabecera} / 2) - 10 );
    align-self: flex-start;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: $radio;
    background-color:$bgc-cabecera;
    @extend .z-depth-5;
    h1{
        text-shadow: 1px 1px 2px rgba(0,0,0,1);
        font-size: 3em;
        text-align:center;
    }
}

.logo{
    flex: 0 0 20%;
    margin-right: 1%;
}
.cabecera__correo{
    flex: 0 0 20%;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    & a{
        color:$clr-cabecera;
        display:block;
    }
    & a:hover {
        cursor: pointer;
        text-decoration:underline;
    }
}

.principal{
    width:100vw;
    flex:1 0 auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.principal__tarjeta,
.enmedio__tarjeta,
.enmedio__oferta{
    @extend .sombra;
    @extend .card;
    @extend .small;
    border-radius: $radio;
    animation: aparecer 5s linear;
    transition: transform 2s;
}

.enmedio__oferta{
    padding-top:10px;
}
.principal__tarjeta:hover,
.enmedio__oferta:hover,
.enmedio__tarjeta:hover{
    transform:scale(1.05,1.05);
}

.principal__enmedio{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.enmedio__oferta{
    height: 150px;
}

@keyframes aparecer{
    from{
        filter:saturate(0);
        opacity: .4;
    }
    to {
        filter: saturate(100%);
        opacity: 1;
    }
}

.fondo{
    filter:saturate(.6);
    animation: saturar 15s linear;
}

@keyframes saturar{
    from {filter: saturate(0);}
    to{filter:saturate(.5);}
}


.enmedio__oferta{
    @extend .sombra;
    @extend .card;
    border-radius:$radio;
    margin-bottom:30px;
    animation: encojer 5s linear ;
    transition: transform 2s;
    p{
        padding:20px 20px;
        text-align:center;
        font-size:1.2em;
        font-weight: 600;
        color:$secondary-color;
    }
}

@keyframes encojer{
    30%, 60%{
        transform: scale(1.2, 1.2);
    }
    0%, 100%{
        transform: scale(1, 1);
    }
}

.tarjeta__image{
    @extend .card-image;
    @extend .waves-effect;
    @extend .waves-block;
    @extend .waves-light;
    overflow:hidden;
}

.tarjeta__image__img{
    transform:scale(.6,.6) translateY(-60px);
    width: 3.25em;
    transition: 1s linear;
    height: 280px;
}

.principal__tarjeta:hover .tarjeta__image__img,
.enmedio__tarjeta:hover .tarjeta__image__img{
    transform:scale(.7,.7) translateY(-60px);
}

.tarjeta__content{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.tarjeta__title{
    @extend .card-title;
    flex: 0 0 95%;
    text-align:center;
    font-size:1.8em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.tarjeta__boton,
.formulario__boton{
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
    min-width: 60px;
}

.tarjeta__boton{
    flex: 0 0 95%;
    // margin-top:10px;
}

.licencias {
    @extend .z-depth-3;
    height: $height-footer;
    background-color: $bgc-cabecera;
    color: $clr-cabecera;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    p:first-child{
        text-decoration:none;
    }
}

.gracias-mail,
.error-mail{
    text-align:justify;
    padding: 20px;
}

    .formulario{
        @extend .modal;
        @extend .modal-fixed-footer;
        height: 85vh;
        max-height:85vh;
    }
    .modal-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items: flex-start;
    }

    .modal-content h4{
        flex: 0 0 100%;
        text-align:center;
    }

    .input-grupo{
        display:flex;
        flex-wrap: wrap;
    }

    .input-grupo,
    .input-field{
        flex: 0 0 45%;   
    }
    .input-field--legal{
        flex: 0 0 80%;
    }
    label[for="coche__file"],
    label[for="hogar__file"],
    label[for="comercio__file"]{
        top: -1.5em;
    }
    input[type="file"]{
        width: 95% !important;
        margin-top: 1em !important;
    }

 .modal-footer{
    display:flex;
    justify-content:space-around;
}  

.tooltipped.legal{
    font-weight: bold;
    text-decoration:underline;
}

.material-tooltip{
    text-align:justify;
}

.legal__tooltipped{
    font-size:.85em;
}

.letra-pequena{
    font-size:.7em;
}

@media #{$small-and-down}{
    .principal {
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
    }
    .principal__tarjeta,
    .enmedio__oferta,
    .enmedio__tarjeta{
        width: 80vw;
        min-width: 290px;
    }
    .principal__enmedio{
        flex-direction: column;
    }
    .cabecera__correo{
        display:none;
    }
    .datos{
        .formulario{
            width:95%;
            min-width: 300px;
        }

        .input-grupo,
        .input-field,
        .input-field--legal{
            flex: 0 0 95%;
        }
    }
    .material-tooltip{
        min-width: 95vw;
    }
    .licencias p:last-child{
        display:none;
    }
}

@media #{$medium-only}{
    .principal{
        flex-wrap:wrap;
    }
    .principal__tarjeta {
        flex: 0 0 45%;
    }
    .logo{
        flex: 0 0 20%;
        max-height:$height-cabecera;
    }
    .principal__enmedio{
        flex: 0 0 100%;
        flex-direction:row;
        justify-content: space-around;
    }
    .enmedio__oferta,
    .enmedio__tarjeta{
        flex: 0 0 45%;
    }
}
@media #{$medium-and-down}{
    .cabecera__titulo{
        flex: 0 0 50%;
        align-self:flex-end;
        height:$height-cabecera;
        h1{
            font-size:2em;
            margin: 0;
            padding: 0;
        }
    }
    .cabecera__fecha{
        display:none;
    }
    .cabecera__correo{
        flex: 0 0 40%;
    }
    .principal__tarjeta{
        order: 2;
    }
    .material-tooltip{
        max-width: 70vw;
    }
}

@media #{$large-and-up}{
    .principal{
        margin-top: $height-cabecera;
    }
    .principal > * {
        flex: 0 0 30%;
    }
    .principal__enmedio{
        align-self:flex-end;
    }
    .cabecera__titulo{
        align-self:flex-start;
        h1{
            font-size:2.3em;
        }
    }
    .material-tooltip{
        max-width: 50vw;
    }
}
