.shadow-0dp {
  @include shadow-0dp();
}

.shadow-2dp {
  @include shadow-2dp();
}

.shadow-3dp {
  @include shadow-3dp();
}

.shadow-4dp {
  @include shadow-4dp();
}

.shadow-6dp {
  @include shadow-6dp();
}

.shadow-8dp {
  @include shadow-8dp();
}

.shadow-16dp {
  @include shadow-16dp();
}

.shadow-24dp {
  @include shadow-24dp();
}
